@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

:root{
    --fonte-montserrat: 'Montserrat', sans-serif;
    --fonte-fraunces: 'Fraunces', serif;

    --cor01: hsl(158, 36%, 37%);
    --cor02: hsl(30, 38%, 92%);
    --cor03: hsl(212, 21%, 14%);
    --cor04: hsl(228, 12%, 48%);
    --cor05: hsl(0, 0%, 100%);
    --cor06: hsl(158, 38%, 21%);

    --background-mobile: url('../images/image-product-mobile.jpg');
    --background-desktop: url('../images/image-product-desktop.jpg')
}
body, html{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--cor02);
    margin: auto;
}   
.card{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 350px;
    height: 560px;
    border-radius: 10px;
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

.right-side{
    background-color: var(--cor05);
    width: 100%;
    height: 60vh;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div h3{
    letter-spacing: 5px;
    font-family: var(--fonte-montserrat);
    font-weight: 400;
    font-size: 8pt;
    color: var(--cor04);
}

div h1{
    font-family: var(--fonte-fraunces);
    font-size: 25pt;
    line-height: 1;
    
}

div p{
    font-size: 14px;
    font-family: var(--fonte-montserrat);
    color: var(--cor04);
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: 0.5px;

}

div .price{
    display: flex;
    gap: 30px; 
    align-items: center;
    color: var(--cor01);
    font-family: var(--fonte-fraunces);
}

div span{
    font-weight: 700;
    font-size: 20pt;
}

div span#promo{
    font-size: 14px;
    color: var(--cor04);
}

button{
    border-radius: 10px;
    background-color: var(--cor01);
    border-style: none;
    outline: none;
    width: 100%;
    height: 50px;
    padding: 16px 0px;
    color: white;
    cursor: pointer;
    font-weight: 700;
}

button:hover{
    background-color: var(--cor06);
}

.left-side{
    height: 40vh;
    background-image: var(--background-mobile);
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fonte-montserrat);
    font-size: 8pt;
    color: var(--cor04);
}

footer a{
    text-decoration: none;
    color: var(--cor04);
}

footer a:hover{
    text-decoration: underline;
}

@media screen and (min-width: 1200px){
    body{
        display: flex;
        margin: auto;
        width: 100vw;
        height: 100vh;
        justify-content: center;
    }

    .card{
        display: flex;
        flex-direction: row;
        width: 600px;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .right-side{
        width: 50%;
        height: 100%;
        border-radius: 0px 10px 10px 0px;
        padding: 30px;
    }

    .left-side{
        background-image: var(--background-desktop);
        width: 50%;
        height: 100%;
        border-radius: 10px 0px 0px 10px;
    }
}